<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WHO is WHO - Nepal Politics</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="container-fluid mb-5">
      <a href="/" class="btn btn-outline-primary goBackHome" type="button"
        ><i class="fas fa-home"></i
      ></a>
      <div class="jumbotron text-center">
        <h1>WHO is WHO</h1>
        <img src="/img/NepalFlag.png" height="50px" />
        <p class="lead">Nepal Politics</p>
      </div>
    </div>

    <div class="container my-3">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="mb-4 text-center">
            Update the candidate information for <%= pid %> in <%= id %>
          </h4>
        </div>
      </div>
      <div id="custom-form" >
        <% if (query) { const cid = query.Candidate_id; 
         %>
        <form action="/update/<%= id %>/<%= pid %>/<%= cid %> " method="POST">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="First_Name">First_Name</label>
              <input
                class="form-control"
                type="text"
                name="First_Name"
                id="First_Name"
                placeholder="<%= query.First_Name %>"
                value="<%= query.First_Name %>"
              />
            </div>
            <div class="form-group col-md-4">
              <label for="Middle_Name">Middle_Name</label>
              <input
                class="form-control"
                type="text"
                name="Middle_Name"
                id="Middle_Name"
                value = "<%= (query.Middle_Name=='null') ? '':query.Middle_Name %>"
              />
            </div>
            <div class="form-group col-md-4">
              <label for="Last_Name">Last_Name</label>
              <input
                class="form-control"
                type="text"
                name="Last_Name"
                id="Last_Name"
                placeholder="<%= query.Last_Name %>"
                value="<%= query.Last_Name %>"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="Initials">Initials</label>
              <input
                class="form-control"
                type="text"
                name="Initials"
                id="Initials"
                placeholder="<%= query.Initials %>"
                value="<%= query.Initials %>"
              />
            </div>
            <div class="form-group col-md-10">
              <label for="Photo_URL">Photo URL</label>
              <input
                class="form-control"
                type="text"
                name="Photo_URL"
                id="Photo_URL"
                placeholder="<%= query.Photo_URL %>"
                value="<%= query.Photo_URL %>"
              />
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="Salary">Salary</label>
              <input
                class="form-control"
                type="text"
                name="Salary"
                id="Salary"
                placeholder="<%= query.Salary %>"
                value="<%= query.Salary %>"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="Salary">Departments</label>
              <select class="form-control" id="Department" name="Department">
                <% departments.forEach(item => { %>
                <option><%= item.Department %></option>
                <% }) %>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-secondary btn-lg btn-block mt-3">
            Update
          </button>
        </form>
        <% } %>
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-copyright text-center">© 2020 Copyright</div>
    </footer>
    <!-- Footer -->

    <!-- jQuery and JS bundle w/ Popper.js -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/0ff4f7eb6b.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
